@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-color: rgb(15, 15, 15);
    font-family: 'Lato', sans-serif;
    background-image: url('../img/Side-Line-Work-instance_white.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

header{
    background-color: var(--bs-body-bg);
}
footer{
    background-color: var(--bs-body-bg);
}

/* disabled */
input:disabled + label>span{
    background-color: #8e2f2f;
    opacity: 0.7;
}
input:disabled + label>span:hover{
    background-color: #b52121;
}
div:has(>input#landing:disabled){
    background-color: #8e2f2f !important;
    opacity: 0.7;
}

/* restriction section */
#restrictions{
    color: #ffffff;
    background-color: #8c8e2f85;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}